<template>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Email</label>
                <input 
                    v-validate="'required|email'"
                    name="Email"
                    type="text" 
                    class="form-control" 
                    :class="{'border-danger' : errors.first('newPassword')}"
                    id="email" 
                    placeholder="Enter Email"
                    v-model="email"
                    >
                <span class="text-danger">{{ errors.first('Email') }}</span>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" @click="validateField">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            email: '',
        }
    },
    created () {
        // this.$store.commit('SET_COMPANY', this.company)
        // this.name = this.$store.state.Company.Company.name
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.submit()

            }).catch((e) => {
                console.log(e)
            });
        },
        submit () {
            axios.post(`${this.$store.state.Company.Company.path}/invite`, {
                email: this.email,
            }).then(res => {
                this.$store.commit('RESET_COMPANY')
                this.$store.commit('SET_COMPANY', res.data.company)
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })

            this.email = ''
        }
    }
}
</script>