<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="d-flex justify-content-center mb-3" v-if="$store.state.Profile.User.profile != null">
                        <div v-html="$store.state.Profile.User.profile.profile_image"></div>
                    </div> -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            v-validate="'required'"
                            name="Name"
                            type="text" 
                            class="form-control" 
                            :class="{'border-danger' : errors.first('newPassword')}"
                            id="name" 
                            placeholder="Enter Name"
                            v-model="name"
                            >
                        <span class="text-danger">{{ errors.first('Name') }}</span>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" @click="submit">Submit</button>
                    </div>
                </div>
            </div>


            <add-employee></add-employee>
            <div class="row employee">
                <div 
                        v-for="(employee, index) in $store.state.Company.Company.employees" 
                        :key="index" 
                        class="col-3 col-lg-2"
                    >
                    
                    <each-employee 
                        :path="$store.state.Company.Company.path"
                        :employee="employee">

                        <div slot="footer">
                            <p>
                                <a href="" @click.prevent="removeUser(employee.email, 'project')">
                                    Remove {{employee.name}} from All Project  
                                </a>
                            </p>
                            <p>
                                <a href="" @click.prevent="">
                                    Remove {{employee.name}} from All Todo  
                                </a>
                            </p>
                            <p>
                                <a href="" @click.prevent="removeUser(employee.email, 'all')">
                                    Remove {{employee.name}} from Company  
                                </a>
                            </p>

                        </div>
                    </each-employee>

                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
import AddEmployee from './AddEmployee'
import EachEmployee from './../Misc/EachEmployee'

export default {
    props: ['company'],
    components: {
        EachEmployee,
        AddEmployee
    },
    data() {
        return {
            name: '',
        }
    },
    created () {
        this.$store.commit('SET_COMPANY', this.company)
        this.name = this.$store.state.Company.Company.name
    },
    methods: {
        removeUser (email, where) {
            axios.post(`${this.$store.state.Company.Company.path}/detach`, {
                where: where,
                email: email
            }).then(res => {
                this.$store.commit('RESET_COMPANY')
                this.$store.commit('SET_COMPANY', res.data.company)
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        },
        submit () {
            var attr;

            if (this.$store.state.Company.Company.name != null) {
                attr = axios.patch(`${this.$store.state.Company.Company.path}`, {
                    name: this.name,
                })
            } else {
                attr = axios.post(`${this.$store.state.Company.Company.path}`, {
                    name: this.name,
                })
            }

            attr.then(res => {
                this.$store.commit('RESET_COMPANY')
                this.$store.commit('SET_COMPANY', res.data.company)
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        }
    }
}
</script>