<template>
    <div class="col-4">
        <h4 class="text-center">Doing</h4>
        <div 
            v-if="doing.length == 0"
            class="text-center my-3">
                <h5>No Record Found</h5>
        </div>
        <draggable 
                v-model="doing" 
                class="dragArea"
                group="task"
                @change="doingUpdate"
            >
            <div 
                v-for="(project, index) in doing"
                :key="index"
                class="col-sm-12 mb-4">
                    <div 
                        class="card mx-1"
                        >
                        <div class="card-body">
                            <h5 class="card-title text-capitalize mb-0">
                                <a :href="`/todo/${project.identifier}`">
                                    {{project.todo_name}}
                                </a>   
                            </h5>
                            <div class="card-text">
                                <small>Due Date: {{project.due_date}}</small>
                            </div>
                            <div class="card-text">
                                <assigned-to
                                    :employees="project.assigned_to"
                                ></assigned-to>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small><a :href="`/todo/${project.identifier}/edit`">Update</a></small> | <delete :id="project.identifier"></delete>
                        </div>
                    </div>
            </div>
            
        </draggable>

        
    </div>
</template>

<script>
import Delete from './../Delete'
import AssignedTo from './AssignedTo'
import draggable from 'vuedraggable'

export default {
    components: {
        'delete': Delete,
        AssignedTo,
        draggable
    },
    data() {
        return {
            tempData: []
        }
    },
    computed: {
        doing: {
            get() {
                return this.$store.state.ToDo.Doing
            },
            set(value) {
                this.$store.commit('UPDATE_DOING', value)
            }
        }
    },
    methods: {
        doingUpdate (evt) {

            if (evt.hasOwnProperty('added')) {
                evt.added.element.status = 'doing'
                this.$store.commit('SET_TEMP_DATA', evt.added.element)
            }
            
            if (this.$store.state.ToDo.SetOrder) {
                this.updateOrder(this.$store.state.ToDo.Doing)
            }

        },
        updateOrder (data) { 

            axios.post(`/todo/${this.$store.state.ToDo.ProjectId}/order`, {
                'todo': data,
            }).catch( err => {
                console.log('error')
            })

        }
    }
}
</script>
