<template>
    
        <select 
            v-model="status"
            @change="updateTodo"
            class="custom-select" 
            style="width: 100%;">
            <option disabled>Select Todo Status</option>
            <option value="todo" :selected="status === 'todo'">To Do</option>
            <option value="doing" :selected="status === 'doing'">Doing</option>
            <option value="done" :selected="status === 'done'">Done</option>
        </select>
        
</template>

<script>
export default {
    props: ['setStatus', 'identifier', 'name'],
    data() {
        return {
            status: ''
        }
    },
    mounted() {
        this.status = this.setStatus
    },
    methods: {
        updateTodo () { 
            axios.post(`/todo/${this.$store.state.Task.ToDoIdentifier}/update-status`, {
                'status': this.status,
            }).then( res => {
                this.$swal({
                    type: 'success',
                    text: `${this.name} has been marked as ${this.status}`,
                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    position: 'top-end'
                })
            }).catch( err => {
                console.log('error')
            })

            this.$store.commit('SET_TEMP_DATA', [])
        }
    },
}
</script>