<template>
    <div class="col-4">
        <h4 class="text-center">To Do</h4>

        <div 
            v-if="todo.length == 0"
            class="text-center my-3">
                <h5>No Record Found</h5>
        </div>

        <draggable 
                v-model="todo" 
                class="dragArea"
                group="task"
                @change="todoUpdate"
            >
                <div 
                    v-for="(project, index) in todo"
                    :key="index"
                    class="col-sm-12 mb-4"
                    >
                        <div 
                            class="card mx-1"
                            >
                            <div class="card-body">
                                <h5 class="card-title text-capitalize mb-0">
                                    <a :href="`/todo/${project.identifier}`">
                                        {{project.todo_name}}
                                    </a>   
                                </h5>
                                <div class="card-text">
                                    <small>Due Date: {{project.due_date}}</small>
                                </div>
                                <div class="card-text">
                                    <assigned-to
                                        :employees="project.assigned_to"
                                    ></assigned-to>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small><a :href="`/todo/${project.identifier}/edit`">Update</a></small> | <delete :id="project.identifier"></delete>
                            </div>
                        </div>
                </div>
        </draggable>
    </div>
</template>


<script>
import Delete from './../Delete'
import AssignedTo from './AssignedTo'
import draggable from 'vuedraggable'

export default {
    components: {
        'delete': Delete,
        AssignedTo,
        draggable
    },
    data() {
        return {
            tempData: []
        }
    },
    computed: {
        todo: {
            get() {
                return this.$store.state.ToDo.ToDos
            },
            set(value) {
                this.$store.commit('UPDATE_TODO', value)
            }
        }
    },
    methods: {
        todoUpdate (evt) {

            if (evt.hasOwnProperty('added')) {
                evt.added.element.status = 'todo'
                this.$store.commit('SET_TEMP_DATA', evt.added.element)
            }
            
            if (this.$store.state.ToDo.SetOrder) {
                this.updateOrder(this.$store.state.ToDo.ToDos)
            }
        },
        updateOrder (data) { 

            axios.post(`/todo/${this.$store.state.ToDo.ProjectId}/order`, {
                'todo': data,
            }).catch( err => {
                console.log('error')
            })

        }
    }
}
</script>