// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Imports
@import 'variables';
@import 'transition';
@import 'trix';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
* {
    // font-family: 'Raleway';
}

.text-line-through {
    text-decoration: line-through;
}

.cursor-pointer {
    cursor: pointer;;
}

#app .multiselect__option {
    display: flex;
    align-items: center;

    img {
        max-width: 35px;
        margin-right: 15px;
    }
}