<template>
    <div>
        <p class="my-1">Assigned To: </p>
        <div 
            id="assignedTo"
            class="d-flex align-center">
            <div 
                class="mr-1"
                v-for="(employee, index) in $store.state.Task.Employees" 
                :key="index">
                <each-employee 
                    :employee="employee">

                    <div slot="footer">

                    </div>
                </each-employee>
            </div>
        </div>
    </div>
</template>

<script>
import EachEmployee from './../../Misc/EachEmployee'

export default {
    props: ['employees'],
    components: {
        EachEmployee
    },
    created () {
        this.$store.commit('GET_EMPLOYEES', this.employees)
    }
}
</script>

<style lang="scss">
#assignedTo {
    .profile-image {
        img {
            width: 35px; 
            height: 35px;
        }
    }
}
</style>