<template>
    <div>

        <button type="button" class="btn btn-sm btn-primary w-100" data-toggle="modal" data-target="#addTask">
            Add Task
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskTitle">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-primary" @click="addTask" v-if="tasks.length === 0">Add Skill</button>
                        <div class="input-group mb-2" v-for="(task, index) in tasks" :key="index">
                            <div class="input-group-prepend">
                            <div class="input-group-text" @click="addTask">&#43;</div>
                            </div>
                            <input v-model="task.details" type="text"  class="form-control" :id="`task-${index}`" :name="`task-${index}`" placeholder="Enter your Task">
                            <div class="input-group-prepend">
                            <div class="input-group-text" @click="deleteTask(index)"> <strong>&#8722;</strong></div>
                            </div>
                        </div>
                        <!-- <p v-if="errors.first('skills')"><span class="help-block text-danger" >{{errors.first('skills')}}</span></p> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" @click="saveTask">Create</button>
                </div>
                </div>
            </div>
        </div>


        
    </div>
</template>

<script>

    export default {
        data() {
            return {
                tasks: [{
                    details: '', done: '', done_by: ''
                }]
            }
        },
        methods: {
            addTask (){
                this.tasks.push({
                    details: '', done: '', done_by: ''
                })
            },
            deleteTask (index) {
                this.tasks.splice(index,1)
            },
            saveTask () {
                axios.post(`/todo/${this.$store.state.Task.ToDoIdentifier}/task`, {
                    tasks: this.tasks
                }).then( res => {
                    $('#addTask').modal('hide')

                    this.$store.commit('GET_TASK', res.data.task)
                    this.tasks = [{ details: '', done: '', done_by: '' }]

                    this.$swal({
                        type: 'success',
                        title: 'Congratulations',
                        text: res.data.success,
                        showConfirmButton: false,
                        timer: 1500
                    })
                }).catch( err => {
                    console.log('error')
                })
            }
        }
    }
</script>
