<template>
    <div>
        <p class="mb-0" v-if="!viewDate">
            <small>
                Created at: {{dateCreated}}
            &bull;
                <span data-toggle="modal" data-target="#changeDate">Due Date: {{dateDisplay}} <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path d="M1.439 16.873l-1.439 7.127 7.128-1.437 16.873-16.872-5.69-5.69-16.872 16.872zm4.702 3.848l-3.582.724.721-3.584 2.861 2.86zm15.031-15.032l-13.617 13.618-2.86-2.861 10.825-10.826 2.846 2.846 1.414-1.414-2.846-2.846 1.377-1.377 2.861 2.86z"/></svg></span>
            </small>
        </p>

        <div class="modal fade" id="changeDate" tabindex="-1" role="dialog" aria-labelledby="changeDateLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeDateLabel">Change Due Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div 
                        class="form-group" 
                        >
                        <date-picker 
                            width="100%"
                            input-class="form-control" 
                            v-model="date" 
                            valueType="format" 
                            :first-day-of-week="1"
                            :lang="lang"
                            ></date-picker>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="changeDate">Save changes</button>
                </div>
                </div>
            </div>
        </div>
        
    </div>

</template>



<script>
import DatePicker from 'vue2-datepicker'
export default {
    props: ['dueDateDisplay', 'dueDate', 'dateCreated'],
    components: {
        DatePicker,
    },
    data() {
        return {
            viewDate: false,
            lang: {
                days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                date: 'Select Date',
                dateRange: 'Select Date Range'
                }
            },
            date: '',
            dateDisplay: ''
        }
    },
    mounted() {
        this.date = this.dueDate
        this.dateDisplay = this.dueDateDisplay
    },
    methods: {
        changeDate () {
            axios.post(`/todo/${this.$store.state.Task.ToDoIdentifier}/change-due-date`, {
                'due_date': this.date
            }).then(res => {
                $('#changeDate').modal('hide')
                this.dateDisplay = res.data.date

                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch(err => {
                console.log('error')
            })
            
        }
    }
}
</script>