<template>
    <div class="card">
        <div class="card-body">
            
            <div class="row align-items-center ">

                <div class="col-12 col-lg-9">
                    <h5 class="text-capitalize mb-0 text-lg-left text-center">Task</h5>
                </div>

                
                <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                    <!-- <button class="btn btn-primary w-100" @click="addTask">Add Task</button> -->
                    <add-task></add-task>
                </div>

            </div>
            <div class="dropdown-divider my-3"></div>


            <div class="task-list clearfix row">
                
                <div 
                    v-if="tasksStore.length == 0"
                    class="mb-2 col-12">
                    <h5 class="mb-0">No Record Found</h5>
                </div>

                <div 
                    class="mb-2 col-12 col-md-6"
                    v-for="(task, index) in tasksStore" 
                    :key="index">

                    <div class="form-check ">
                        <input 
                            class="form-check-input" 
                            type="checkbox" 
                            @change="updateTask(task, $event)"
                            :checked="task.done"
                            :id="`task-${index}`">
                        <label 
                            class="form-check-label" 
                            :class="{'text-line-through': task.done}"
                            :for="`task-${index}`"
                            >
                            {{task.task}}
                        </label>
                    </div>

                </div>

            </div>
            
            
        </div>
    </div>
</template>

<script>
import AddTask from './Create'
export default {
    props: ['tasks', 'todoIdentifier', 'todoId', 'user'],
    components: {
        'add-task': AddTask
    },
    mounted () {
        this.$store.commit('GET_TASK', this.tasks)
        this.$store.commit('SET_TODO_IDENTIFIER', this.todoIdentifier)
        this.$store.commit('SET_TODO_ID', this.todoId)
        this.$store.commit('SET_USER', this.user)
    },
    computed: {
        tasksStore () {
            return this.$store.state.Task.Data
        }
    },
    methods: {
        addTask () {
            this.$swal({
                title: 'Add Task',
                html: `<add-task></add-task>`,
                showConfirmButton: false,
                timer: 10500,
            })
        },
        updateTask (value, e) {
            axios.post(`/task/${value.identifier}/update/done`, {
                done: e.target.checked
            }).then( res => {
                this.$swal({
                    type: (e.target.checked) ? 'success' : 'question',
                    title: (e.target.checked) ? 'Well done!' : 'Why?',
                    text: (e.target.checked) ? 'Task has been checked.' : 'Task has been unchecked.',
                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    position: 'top-end'
                })
                this.$store.commit('GET_TASK', res.data.task)
            }).catch( err => {
                console.log('error')
            })
        }
    }
}
</script>


