<template>
    <div >
        <div 
            v-if="$store.state.ToDo.LoadToDos"
            class="progress  my-4">
            <div 
                class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" 
                style="width: 100%"
                ></div>
        </div>
        <div 
            v-else
            class="row" >


            <todo></todo>


            <doing></doing>


            <done></done>
           
            
        </div>
    </div>
</template>

<script>
import Todo from './../Status/Todo'
import Doing from './../Status/Doing'
import Done from './../Status/Done'

export default {
    components: {
        'todo': Todo,
        'doing': Doing,
        'done': Done,
    },
    mounted () {
        this.$store.commit('SET_ORDER', true)
    },
    computed: {
        tempData () {
            return this.$store.state.ToDo.TempData
        },
    },
    watch: {
        tempData (value) {
            if (value.length != 0) {
                this.updateTodo(value)
            }
        },
    },
    methods: {
        updateTodo (value) { 
            axios.post(`/todo/${value.identifier}/update-status`, {
                'status': value.status,
            }).then( res => {
                this.$swal({
                    type: 'success',
                    text: `${value.todo_name} has been moved to ${value.status}`,
                    showConfirmButton: false,
                    timer: 1500,
                    toast: true,
                    position: 'top-end'
                })
            }).catch( err => {
                console.log('error')
            })

            this.$store.commit('SET_TEMP_DATA', [])
        }
    }
}
</script>


<style lang="scss">
.dragArea {
    min-height: 550px;
}
</style>
