<template>
    <div>

        <div class="row mb-2 my-3 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-6">
                <h4 class="mb-0" v-if="!$store.state.ToDo.ShowCreateForm">To-dos</h4>
            </div>
            <div class="col-sm-12 col-md-6 text-center  text-md-right">
                <button class="btn btn-primary" @click="showCreateForm($store.state.ToDo.ShowCreateForm = !$store.state.ToDo.ShowCreateForm)">{{ $store.state.ToDo.ShowCreateForm ? 'Cancel' : 'Create To Do'}}</button>
            </div>
        </div>

        <div class="dropdown-divider my-4"></div>
        <all
            v-if="!$store.state.ToDo.ShowCreateForm"
            ></all>
        
        <create 
            v-if="$store.state.ToDo.ShowCreateForm"
            class="py-1 px-0"
            ></create>
    </div>
</template>

<script>
    import create from './../Create'
    import all from './All'
    export default {
        props: ['identifier', 'id', 'todo', 'doing', 'done', 'count', 'employees'],
        components: {
            'create': create,
            'all': all
        },
        mounted() {
            this.$store.commit('SAVE_PROJECT_ID', this.id)
            this.$store.commit('SAVE_PROJECT_IDENTIFIER', this.identifier)
            this.$store.commit('GET_TODOS', this.todo)
            this.$store.commit('GET_DOING', this.doing)
            this.$store.commit('GET_DONE', this.done)
            this.$store.commit('LOAD_TODOS', false)
            this.$store.commit('GET_EMPLOYEES', this.employees)
            if (this.count === 0) {
                this.$store.commit('SHOW_TODO_CREATE_FORM', true)
            }
        },
        computed: {
            load () {
                return this.$store.state.ToDo.LoadToDos
            }
        },
        watch: {
            load (value) {
                if (value === true) {
                    this.getTodo()
                }
            }
        },
        methods: {
            showCreateForm (value) {
                this.$store.commit('SHOW_TODO_CREATE_FORM', value)
            },
            getTodo () {

                this.$store.commit('RESET_ALL')

                axios.get(`/project/${this.$store.state.ToDo.ProjectIdentifier}/todo?v=j`)
                .then( res => {
                    this.$store.commit('GET_TODOS', res.data.todo)
                    this.$store.commit('GET_DOING', res.data.doing)
                    this.$store.commit('GET_DONE', res.data.done)
                    if (res.data.count === 0) {
                        this.$store.commit('SHOW_TODO_CREATE_FORM', true)
                    }
                }).catch( err => {
                    console.log('error')
                })
                
                this.$store.commit('LOAD_TODOS', false)
            },
        }
    }
</script>

