<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">What to do?</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="todoTitle">Todo Name</label>
                    <input 
                        v-validate="'required'"
                        type="text" 
                        class="form-control" 
                        :class="{'border-danger' : errors.first('todoTitle')}"
                        id="todoTitle" 
                        placeholder="Enter Todo Name"
                        v-model="todoTitle"
                        name="todoTitle"
                        >
                    <span class="text-danger">{{ errors.first('todoTitle') }}</span>
                </div>


                <div class="form-group">
                    <label for="todoTitle">Assign to:</label>

                    <multiselect 
                        v-model="assignTo" 
                        :options="$store.state.ToDo.Employees" 
                        :multiple="true" 
                        :close-on-select="false" 
                        :clear-on-select="false" 
                        :preserve-search="true" 
                        placeholder="Assign to do" 
                        label="name" 
                        track-by="name" 
                        :preselect-first="true"
                        :option-height="104"
                        :show-labels="false">
                            <template 
                                slot="option" 
                                slot-scope="props">
                                <div v-html="props.option.profile.profile_image"></div>
                                <div class="option__desc">
                                    <span class="option__title">{{ props.option.name }}</span>
                                </div>
                            </template>
                    </multiselect>
                    
                    <!-- <pre class="language-json"><code>{{ value  }}</code></pre> -->

                    <span class="text-danger">{{ errors.first('todoTitle') }}</span>
                </div>


                <div class="form-group">
                    <label for="dueDate">Due Date</label>
                    <date-picker 
                        v-validate="'required'"
                        width="100%"
                        input-class="form-control" 
                        :class="{'border-danger' : errors.first('dueDate')}"
                        v-model="dueDate" 
                        valueType="format" 
                        :first-day-of-week="1"
                        :lang="lang"
                        name="dueDate"
                        ></date-picker>
                    <span class="text-danger">{{ errors.first('dueDate') }}</span>
                </div>


                <div class="form-group">
                    <label for="projectName">Todo Description</label>
                    <wyswyg
                        loadRefs="createTask"
                        loadName="loadName"
                        loadId="loadId"
                        :autofocus="false"
                        v-model="todoDesc"
                        ></wyswyg>
                </div>

                <div class="form-group row">
                    <label for="task" class="col-sm-12 col-form-label">Task</label>
                    <div class="col-sm-12">
                    <button type="button" class="btn btn-outline-primary" @click="addTask" v-if="tasks.length === 0">Add Skill</button>
                    <div class="input-group mb-2" v-for="(task, index) in tasks" :key="index">
                        <div class="input-group-prepend">
                        <div class="input-group-text" @click="addTask">&#43;</div>
                        </div>
                        <input v-model="task.details" type="text"  class="form-control" :id="`task-${index}`" :name="`task-${index}`" placeholder="Enter your Task">
                        <div class="input-group-prepend">
                        <div class="input-group-text" @click="deleteTask(index)"> <strong>&#8722;</strong></div>
                        </div>
                    </div>
                    <!-- <p v-if="errors.first('skills')"><span class="help-block text-danger" >{{errors.first('skills')}}</span></p> -->
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="button" id="validateField" class="btn btn-primary" @click="validateField">Create</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'todoTitle': {
            required: 'Todo Title is required'
        }
    }
}


import wyswyg from './../Misc/Wyswyg'
import DatePicker from 'vue2-datepicker'
import Multiselect from 'vue-multiselect'

export default {
    components: {
        Multiselect,
        DatePicker,
        'wyswyg': wyswyg
    },
    data() {
        return {
            assignTo: [],
            todoTitle: '',
            todoDesc: '',
            dueDate: '',
            tasks: [{
                details: '', done: '', done_by: ''
            }],
            lang: {
                    days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                    placeholder: {
                    date: 'Select Date',
                    dateRange: 'Select Date Range'
                }
            },
        }
    },
    mounted () {
        this.$validator.localize('en', customMessages)
        console.log(this.$store.state.ToDo.Employees)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                document.getElementById("validateField").blur()

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                if (this.tasks[0].details == '') {
                    this.$swal({
                        type: 'warning',
                        title: 'Heads up!',
                        html: `<p class="mb-0">Are you sure you don\'t want to add <u>Task</u> to this todo?</p>
                                <p class="mb-0"><small>Adding task to your todo makes you track your progress easily.</small></p>`,
                        showConfirmButton: true,
                        confirmButtonText: 'I\'ll add it later',
                        confirmButtonClass: 'btn-secondary',
                        showCancelButton: true,
                        cancelButtonText: 'I\'ll add it now',
                        cancelButtonClass: 'btn-primary',
                    }).then(result => {
                        if (result.value) {
                            this.addProject()
                        } else {
                            document.getElementById("task-0").focus()
                        }
                    })

                    return
                }
                
                this.addProject()

            }).catch((e) => {
                console.log(e)
            });
        },
        
        addTask (){
            this.tasks.push({
                details: '', done: '', done_by: ''
            })
        },
        deleteTask (index) {
            this.tasks.splice(index,1)
        },
        addProject () {
            axios.post(`/project/${this.$store.state.ToDo.ProjectIdentifier}/todo`, {
                name: this.todoTitle,
                description: this.todoDesc,
                due_date: this.dueDate,
                assignTo: this.assignTo,
                tasks: this.tasks
            }).then( res => {
                this.$store.commit('SHOW_TODO_CREATE_FORM', false)
                this.$store.commit('LOAD_TODOS', true)
                
                this.$swal({
                    type: 'success',
                    title: 'Congratulations!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500,
                    onClose: () =>  {
                        this.todoTitle = ''
                        this.todoDesc = ''
                        this.dueDate = ''
                        this.$validator.reset()
                    }
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: 'Something went wrong. Please try again.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css">
#app .multiselect__option {
    display: flex;
    align-items: center;
}
</style>
