<template>
    <small class="text-danger cursor-pointer" @click="warningDeleteProject">Delete Todo</small>
</template>

<script>
export default {
    props: ['id'],
    methods: {
        warningDeleteProject () {
            this.$swal({
                type: 'warning',
                title: 'Before we continue..',
                text: 'Are you sure you want to delete this To do? this action can\'t be undo.',
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: true,
                confirmButtonText: 'Yes, Delete it.',
                cancelButtonText: 'No, I changed my mind.',
            }).then((result) => {
                if (result.value) {
                    this.deleteProject()
                }
            })
        },
        deleteProject () {
            axios.delete(`/todo/${this.id}`)
            .then( res => {
                this.$store.commit('LOAD_TODOS', true)

                this.$swal({
                    type: 'success',
                    title: 'Congratulations!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: 'Something went wrong. Please try again.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })

        }
    }
}
</script>