<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Edit {{todoTitle}}</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="projectName">Todo Name</label>
                    <input 
                        v-validate="'required'"
                        type="text" 
                        class="form-control" 
                        :class="{'border-danger' : errors.first('todoTitle')}"
                        id="todoTitle" 
                        placeholder="Enter Todo Name"
                        v-model="todoTitle"
                        name="todoTitle"
                        >
                    <span class="text-danger">{{ errors.first('todoTitle') }}</span>
                </div>


                <div class="form-group">
                    <label for="projectName">Due Date</label>
                    <date-picker 
                        v-validate="'required'"
                        width="100%"
                        input-class="form-control" 
                        :class="{'border-danger' : errors.first('dueDate')}"
                        v-model="dueDate" 
                        valueType="format" 
                        :first-day-of-week="1"
                        :lang="lang"
                        name="dueDate"
                        ></date-picker>
                    <span class="text-danger">{{ errors.first('dueDate') }}</span>
                </div>


                <div class="form-group">
                    <label for="projectName">Todo Description</label>
                    <wyswyg
                        loadRefs="createTask"
                        loadName="loadName"
                        loadId="loadId"
                        :autofocus="false"
                        v-model="todoDesc"
                        :loadValue="todo.description"
                        ></wyswyg>
                </div>


                <div class="form-group text-right">
                    <button type="button" class="btn btn-primary" @click="validateField">Update</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'todoTitle': {
            required: 'Todo Title is required'
        },
        'dueDate': {
            required: 'Due Date is required'
        }
    }
}

import wyswyg from './../Misc/Wyswyg'
import DatePicker from 'vue2-datepicker'

export default {
    props: ['todo'],
    components: {
        DatePicker,
        'wyswyg': wyswyg
    },
    data() {
        return {
            todoTitle: '',
            todoDesc: '',
            dueDate: '',
            lang: {
                days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                placeholder: {
                date: 'Select Date',
                dateRange: 'Select Date Range'
                }
            },
        }
    },
    mounted () {
        this.todoTitle = this.todo.name
        this.todoDesc = this.todo.description
        this.dueDate = this.todo.due_date

        this.$store.commit('SET_TODO_IDENTIFIER', this.todo.identifier)
        this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }
                
                this.editProject()

            }).catch((e) => {
                console.log(e)
            });
        },
        editProject () {
            axios.patch(`/todo/${this.$store.state.Task.ToDoIdentifier}`, {
                name: this.todoTitle,
                description: this.todoDesc,
                due_date: this.dueDate,
            }).then( res => {
                this.$swal({
                    type: 'success',
                    title: 'Congratulations!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500,
                    onClose: () =>  {
                        this.todoTitle = ''
                        this.todoDesc = ''
                        this.dueDate = ''
                        this.$validator.reset()
                        window.location.href = `/todo/${this.$store.state.Task.ToDoIdentifier}`;
                    }
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: 'Something went wrong. Please try again.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>
