<template>
    <div class="container">

        <div class="row mb-2 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-6">
                <h4 class="mb-0" v-if="!$store.state.Project.ShowCreateForm">Projects</h4>  
            </div>
            <div class="col-sm-12 col-md-6 text-center  text-md-right">
                <button class="btn btn-primary" @click="showCreateForm($store.state.Project.ShowCreateForm = !$store.state.Project.ShowCreateForm)">{{ $store.state.Project.ShowCreateForm ? 'Cancel' : 'Create Project'}}</button>
            </div>
        </div>

        <div class="dropdown-divider my-4"></div>
        <all
            v-if="!$store.state.Project.ShowCreateForm"
            ></all>
        
        <create 
            v-if="$store.state.Project.ShowCreateForm"
            class="py-1 px-0"
            ></create>
    </div>
</template>

<script>
    import create from './Project/Create'
    import all from './Project/All'
    export default {
        components: {
            'create': create,
            'all': all
        },
        methods: {
            showCreateForm (value) {
                this.$store.commit('SHOW_PROJECT_CREATE_FORM', value)
            }
        }
    }
</script>

