<template>
    <div>
        <modal 
            width="w-75"
            @close="$emit('close')"
            >
            <h5 class="mb-0" slot="header">Add Employee to this Project</h5>
            <div 
                slot="body"
                class="row">

                    <div
                        class="col-sm-12 col-md-6 mb-1"
                        v-for="(employee, index) in employees"
                        :key="index">

                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="profile-image" v-html="employee.profile.profile_image"></div>
                                <h5 class="mb-0 px-1 font-weight-lighter">{{employee.name}}</h5>
                            </div>
                            <div class="custom-control custom-switch">
                                <input 
                                    type="checkbox" 
                                    class="custom-control-input" 
                                    :id="`employee-${index}`"
                                    @change="addToProject(employee, $event)"
                                    :checked="inArray(employee.email, $store.state.Project.Employees)"
                                    >
                                <label class="custom-control-label " :for="`employee-${index}`"></label>
                            </div>
                        </div>                    

                    </div>
            </div>
        </modal>
    </div>
</template>

<script>
import Modal from './../Misc/Modal'
export default {
    props: ['employees', 'path'],
    components: {
        Modal,
    },
    data() {
        return {
            showModal: false,
            showuser: false
        }
    },
    methods: {
        inArray (needle, haystack) {
            var length = haystack.length;
            for(var i = 0; i < length; i++) {
                if(haystack[i]['email'] == needle) return true;
            }
            return false;
        },
        addToProject (value, e) {
            axios.post(this.path, {
                value: e.target.checked,
                email: value.email
            }).then( res => {
                this.$store.commit('RESET_EMPLOYEES')
                this.$store.commit('GET_EMPLOYEES', res.data.employees)
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        }
    }
}
</script>

<style lang="scss">
.profile-image {
    img {
        width: 50px;
        height: 50px;
    }
}

</style>