<template>
    <div>
        <div id="discussion-body" class="clearfix">

            <div class="msg_history">
                <div 
                    v-for="(discuss, index) in discussions"
                    :key="index"
                    class="msg mb-4"
                    >
                     <each-employee 
                        :employee="discuss.sender">

                        <div slot="footer">

                        </div>
                    </each-employee>
                    <div 
                        class="msg_body d-flex justify-content-start flex-column ml-1"
                        >
                        <p 
                            class="mb-0"><small class="text-capitalize">{{discuss.sender.name}} &bull; {{discuss.sent_on}}</small></p>
                            
                        <div 
                            v-html="discuss.body"
                            v-linkified:options="{ className: 'link' }"
                            ></div>
                    </div>

                    
                </div>
                
                    
            </div>
                    


            <h4 class="text-center mb-0" v-if="discussions.length == 0">Start discussion now!</h4>

        </div>
        <div class="dropdown-divider my-3"></div>
        <div id="discussion-create">
            <div class="form-group">
                <wyswyg
                        loadRefs="discussionCrete"
                        loadName="name-discussion"
                        loadId="id-discussion"
                        :clearIt="clearIt"
                        :autofocus="false"
                        v-model="discussion"
                    ></wyswyg>
            </div>
            <div class="form-group text-right">
                <button type="button" class="btn btn-primary" @click="sendDiscussion">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
import EachEmployee from './../Misc/EachEmployee'
import wyswyg from './Wyswyg'
import linkify from 'vue-linkify'
Vue.directive('linkified', linkify)

export default {
    props: ['type', 'identifier'],
    components: {
        wyswyg,
        EachEmployee
    },
    data() {
        return {
            discussions: [],
            discussion: '',
            clearIt: false
        }
    },
    mounted() {
        this.loadDiscussion()
    },
    updated () {
        var container = document.getElementById("discussion-body");
        container.scrollTop = container.scrollHeight
    },
    methods: {
        sendDiscussion () {
            this.clearIt = false

            axios.post(`/discussion/${this.identifier}/${this.type}`, {
                'body': this.discussion
            })
            .then(res => {
                this.discussions = res.data.data
                this.clearIt = true
            })

        },
        loadDiscussion () {
            axios.get(`/discussion/${this.identifier}/${this.type}`)
            .then(res => {
                this.discussions = res.data.data
            })
        }
    }
}
</script>

<style lang="scss">
#discussion-body {
    max-height: 1050px;
    overflow-y: scroll;


    img{ 
        max-width:100%;
        width: 50px;
        height: 50px;
    }

    .msg {
        display: flex;
        align-items: center;

        .msg_img {
            width: 5%;
        }

        .msg_body {
            
            width: auto;
            max-width: 90%;
            background: #ebebeb none repeat scroll 0 0;
            padding: 5px 10px 5px 12px;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0px;
            align-items: flex-start;

        }
    }

}

@media screen and (max-width: 767px) {
    .msg .msg_body {
        max-width: 100%;
    }
}

</style>
