<template>
    <div>
        <div 
            class="profile-image" 
            v-if="employee" 
            v-html="employee.profile.profile_image"
            @click="showProfile(employee)">
            </div>

        <transition name="slide">

            <modal 
                width="w-25"
                v-if="showuser" 
                @close="showuser = false"
                >

                <div class="mx-auto" v-html="tempData.profile.profile_image" slot="header"></div>
                <div class="text-center" slot="body">
                    <h5 class="font-weight-bolder">{{tempData.name}}</h5>
                </div>
                <div class="mx-auto" slot="footer">
                    <slot name="footer">
                        
                    </slot>
                    <p>  
                        <button class="btn btn-sm btn-primary" @click="showuser = false">
                            Close
                        </button>
                    </p> 
                </div>

            </modal>

        </transition>
    </div>
</template>

<script>
import Modal from './Modal'
export default {
    props: ['employee'],
    computed: {
        member () {
            return this.employee
        }
    },
    watch: {
        member (value) {
            console.log(value)
            this.list = value
        }
    },
    mounted () {
        this.list = this.employee
    },
    components: {
        Modal
    },
    data() {
        return {
            list: [],
            showuser: false,
            tempData: []
        }
    },
    methods: {
        showProfile (profile) {
            this.showuser = true
            this.tempData = profile
        }
    }
}
</script>

<style lang="scss">
.employee {
    .modal-header, .modal-footer {
        border-color: transparent;
    }

    .modal-body {
        padding-top: 0px;
    }

    .modal-footer {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .employee .w-25 {
        width: 75%!important;
    }
}
</style>