<template>
    <div class="row employee">
        <div 
                v-for="(employee, index) in list" 
                :key="index" 
                class="col-3 col-lg-2"
            >
            
            <each-employee 
                :path="path"
                :employee="employee">
                </each-employee>

        </div>
    </div>
</template>


<script>
import EachEmployee from './EachEmployee'
export default {
    props: ['employees', 'path'],
    computed: {
        member () {
            return this.employees
        }
    },
    watch: {
        member (value) {
            console.log(value)
            this.list = value
        }
    },
    mounted () {
        this.list = this.employees
    },
    components: {
        EachEmployee,
    },
    data() {
        return {
            list: [],
        }
    }
}
</script>
