<template>

      <div class="modal-mask">
        <div class="modal-wrapper">
            <div 
              class="modal-container" 
              :class="width">
              <div class="modal-header">
                  <slot name="header">
                      default header
                  </slot>
              </div>

              <div class="modal-body">
                  <slot name="body">
                  default body
                  </slot>
              </div>

              <div class="modal-footer">
                  <slot name="footer">
                    <button class="btn btn-sm btn-primary" @click="$emit('close')">
                        Close
                    </button>
                  </slot>
              </div>
            </div>
        </div>
      </div>
    
</template>


<script>
export default {
  props: ['width']
}
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}

</style>