<template>
    <div class="mt-1 row">

        <div 
            v-if="!uploading"
            class="col s12"
            >
            <form enctype="multipart/form-data" >
                <div class="dropbox" >
                <input 
                        type="file" 
                        multiple 
                        name="file" 
                        :disabled="uploading" 
                        @change="filesChange($event.target.files); fileCount = $event.target.files.length"
                        accept="image/*" 
                        class="input-file"
                    >
                    <p >
                    Drag your file(s) here to Upload<br> or click to browse
                    </p>
                </div>
            </form>
        </div>

        <div 
            class="col s12"
            v-else>
            <p><i>Working on it...</i></p>
            <intermediate></intermediate>
            <p class="mb-0 center-align">{{percentCompleted}}%</p>
        </div>

    </div>
</template>

<script>

export default {
    props: ['project_id'],
    data() {
        return {
            fileCount: 0,
            uploadedFiles: [],
            uploadError: null,
            currentStatus: null,
            uploadFieldName: 'file',
            uploading: false, 
            percentCompleted: 0,
        }
    },
    methods: {
        reset() {
            this.uploading = false;
            this.uploadedFiles = [];
            this.uploadError = null;
        },
        save(formData) {
            this.uploading = true;

            var config = {
                headers: { 
                    'Content-Type': 'multipart/form-data', 
                    'X-Requested-With': 'XMLHttpRequest' 
                },
                onUploadProgress: function(progressEvent) {
                    this.percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                    this.$forceUpdate();
                }.bind(this)
            }
            
            axios.post('/dashboard/upload-attachment-multiple', formData, config)
            .then (response => {
                this.$store.commit('SET_ATTACHING', true)
                this.reset()
            })
            .catch(err => {
                this.uploadError = err.response;
                this.reset()
            })

            this.percentCompleted = 0
        },
        filesChange(fileList) {
            // handle file changes
            const formData = new FormData();

            if (!fileList.length) return;

            // append the files to FormData
            Array
            .from(Array(fileList.length).keys())
            .map(x => {
                formData.append('file[]', fileList[x], fileList[x].name)
            })

            formData.append('attachment_type', 'project')
            formData.append('attachment_id', this.project_id)

            // save it
            this.save(formData)
        }
    },
    mounted() {
        this.reset()
    },
}

</script>

<!-- SASS styling -->
<style lang="scss">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: #f5f5f5;
    color: dimgray;
    padding: 10px 10px;
    min-height: 100px; /* minimum height */
    position: relative;
    transition: .2s all ease-in-out;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 100px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: #ececec; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
