<template>
    <div>
        <input 
            :id="loadId"  
            :name="loadName"
            :value="loadValue"
            type="hidden"
            >

        <trix-editor 
          :ref="loadRefs" 
          :name="loadName" 
          :input="loadId" 
          placeholder="Type here..." 
          :autofocus="autofocus"
          @keyup.shift.enter.exact="spaceDown"></trix-editor>
    </div>
</template>

<script>
import Trix from 'trix'

export default {
    props: ['loadId', 'loadRefs', 'loadName', 'loadValue', 'clearIt', 'sendOnEnter', 'autofocus'],
    data: () => ({
        body: '',
        // attachmentCollection: [],
        loading: false
    }),
    computed: {
        shouldClear () {
            return this.clearIt
        }
    },
    watch: {
        shouldClear (value) {
            if (value == true) {
                this.$refs[this.loadRefs].value = ''
            }
        }
    },
    mounted () {
        // this.$refs[this.loadRefs].addEventListener('trix-initialize', e => {

        //     if (this.sendOnEnter === 'yes') {
        //         e.target.addEventListener("keydown", e => {
        //         if (e.shiftKey && e.key == "Enter") {
        //             this.spaceDown()
        //         } else if (e.key == "Enter") {
        //             e.preventDefault()
        //             this.sendMessage()
        //         }
        //         })
        //     }
            
        //     this.addUploadButton()
        // })
        this.$refs[this.loadRefs].addEventListener('trix-change', e => {
            this.body = e.target.innerHTML
            this.$emit('input', e.target.innerHTML)
        })
        // this.$refs[this.loadRefs].addEventListener('trix-attachment-add', e => {
        //     return this.uploadData(e)
        // })
        // this.$refs[this.loadRefs].addEventListener('trix-attachment-remove', e => {
        //     if (this.shouldClear !== true) {
        //         return this.removeUpload(e)
        //     }
        //     })
        //     this.$watch('shouldClear', () => {
        //     if (this.shouldClear === true) {
        //         this.$refs[this.loadRefs].value = ''
        //     }
        // })
    },
}
</script>



<style lang="scss">
@import "~trix/dist/trix.css";
    
trix-editor {
    min-height: 200px;
}
</style>
