<template>
    <div >
        <div 
            v-if="$store.state.Project.LoadProject"
            class="progress  my-4">
            <div 
                class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" 
                style="width: 100%"
                ></div>
        </div>
        <div 
            v-else
            class="row align-items-center" >

            <div 
                v-for="(project, index) in $store.state.Project.Projects"
                :key="index"
                class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div 
                        class="card mx-1"
                        >
                        <div class="card-body">
                            <h5 class="card-title mb-0">
                                <a :href="`/project/${project.identifier}`">
                                    {{project.project_name}}
                                </a>   
                            </h5>
                            <p>
                                
                                <small>
                                    Created at: {{project.created_at}}
                                </small>

                            </p>

                            <button class="btn btn-primary">
                                To Do <span class="badge badge-light">{{project.todo_count}}</span>
                            </button>
                            <button class="btn btn-secondary">
                                Doing <span class="badge badge-light">{{project.doing_count}}</span>
                            </button>
                            <button class="btn btn-success">
                                Done <span class="badge badge-light">{{project.done_count}}</span>
                            </button>
                        </div>
                        <div class="card-footer">
                            <small><a :href="`/project/${project.identifier}/edit`">Update</a></small> | <delete :id="project.identifier"></delete>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
</template>

<script>
import deleted from './Delete'

export default {
    components: {
        'delete': deleted
    },
    data() {
        return {
            projects: ''
        }
    },
    mounted () {
        this.getProject()
    },
    computed: {
        load () {
            return this.$store.state.Project.LoadProject
        }
    },
    watch: {
        load (value) {
            if (value === true) {
                this.getProject()
            }
        }
    },
    methods: {
        truncate: function (text) {
            return text.substring(0, 250) + ' ....';
        },
        getProject () {
            this.$store.commit('RESET_PROJECT')
            axios.get('/project')
            .then( res => {
                this.$store.commit('GET_PROJECT', res.data.data)
                if (this.$store.state.Project.Projects.length === 0) {
                    this.$store.commit('SHOW_PROJECT_CREATE_FORM', true)
                }
            }).catch( err => {
                console.log('error')
            })
            
            this.$store.commit('LOAD_PROJECT', false)
        }
    }
}
</script>