<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Create Project</h4>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="projectName">Project Name</label>
                            <input 
                                v-validate="'required'"
                                type="text" 
                                class="form-control" 
                                :class="{'border-danger' : errors.first('projectName')}"
                                id="projectName" 
                                placeholder="Enter Project Name"
                                v-model="projectName"
                                name="projectName"
                                >
                            <span class="text-danger" v-if="error.hasOwnProperty('name')">Project Name is required</span>
                            <span class="text-danger">{{ errors.first('projectName') }}</span>
                        </div>


                        <div class="form-group">
                            <label for="projectName">Project Description</label>
                            <wyswyg
                                loadRefs="createTask"
                                loadName="loadName"
                                loadId="loadId"
                                :autofocus="false"
                                v-model="projectDesc"
                                ></wyswyg>
                        </div>


                        <div class="form-group text-right">
                            <button type="button" class="btn btn-primary" @click="validateField">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const customMessages = {
    custom: {
        'projectName': {
            required: 'Project Name is required'
        }
    }
}

import wyswyg from './../Misc/Wyswyg'

export default {
    components: {
        'wyswyg': wyswyg
    },
    data() {
        return {
            projectName: '',
            projectDesc: '',
            error: []
        }
    },
    mounted () {
        this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.addProject()

            }).catch((e) => {
                console.log(e)
            });
        },
        addProject () {
            axios.post('/project', {
                name: this.projectName,
                description: this.projectDesc
            }).then( res => {
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500,
                    onClose: () =>  {
                        this.projectName = ''
                        this.projectDesc = ''   
                        this.oldEmail = ''
                        this.$validator.reset()
                        this.$store.commit('LOAD_PROJECT', true)
                        this.$store.commit('SHOW_PROJECT_CREATE_FORM', false)
                        window.location.href = `/project/${res.data.identifier}`;
                    }
                })
            }).catch( err => {
                this.error = err.response.data.errors
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: 'Something went wrong. Please try again.',
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>
