<template>
    <div class="card-body">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-6">
                <h5 class="text-capitalize mb-0">Members</h5>
            </div>
            <div class="col-sm-12 col-md-6 text-center  text-md-right">
                <button class="btn btn-primary" href="" @click.prevent="showAdd = true">Manage</button>
            </div>
        </div>
        
        <add-employee
            v-if="showAdd"
            @close="showAdd = false"
            :employees="company.employees"
            :path="`/project/${identifier}/invite`"
            ></add-employee>

        <div class="dropdown-divider my-3"></div>

       
        
        <div class="row employee">
            <div 
                    v-for="(employee, index) in $store.state.Project.Employees" 
                    :key="index" 
                    class="col-3 col-lg-2"
                >
                
                <each-employee 
                    :employee="employee">

                    <div slot="footer">
                        <p>
                            <a href="" @click.prevent="removeUser(employee.email, 'all')">
                                Remove {{employee.name}} from Project  
                            </a>
                        </p>

                    </div>
                </each-employee>

            </div>
        </div>
        
    </div>
</template>

<script>
import EachEmployee from './../Misc/EachEmployee'
import AddEmployee from './../Misc/AddEmployee'
export default {
    props: ['company', 'identifier', 'members'],
    created () {
        this.$store.commit('GET_EMPLOYEES', this.members)
        this.$store.commit('SET_PATH', `/project/${this.identifier}`)
    },
    components: {
        AddEmployee,
        EachEmployee
    },
    data() {
        return {
            showAdd: false,
        }
    },
    methods: {
        removeUser (email, where) {
            axios.post(`${this.$store.state.Project.Path}/invite`, {
                value: false,
                email: email
            }).then(res => {
                this.$store.commit('RESET_EMPLOYEES')
                this.$store.commit('GET_EMPLOYEES', res.data.employees)
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        },
    }
}
</script>

<style lang="scss">
.profile-image {
    img {
        width: 50px;
        height: 50px;
    }
}


</style>

