<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center mb-3" v-if="$store.state.Profile.User.profile != null">
                        <div v-html="$store.state.Profile.User.profile.profile_image"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            v-validate="'required'"
                            name="Name"
                            type="text" 
                            class="form-control" 
                            :class="{'border-danger' : errors.first('newPassword')}"
                            id="name" 
                            placeholder="Enter Name"
                            v-model="name"
                            >
                        <span class="text-danger">{{ errors.first('Name') }}</span>
                    </div>
                    <div class="form-group">
                        <create-timezone 
                                v-validate="'required'"
                                :timezone="userTimezone"
                                v-model="userTimezone"
                                name="Timezone"
                            ></create-timezone>
                             <span class="text-danger">{{ errors.first('Timezone') }}</span>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" @click="validateField">Submit</button>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-sm-12 col-md-6">
            <update-email></update-email>
        </div>

        <div class="col-sm-12 col-md-6">
            <update-password></update-password>
        </div>
        
    </div>
</template>


<script>
const customMessages = {
    custom: {
        'name': {
            required: 'Name is required.',
        },
        'Timezone': {
            required: 'Timezone is required',
            email: 'Valid Email is required'
        }
    }
}

import createTimezone from './Timezone'
import updateEmail from './UpdateEmail'
import updatePassword from './UpdatePassword'

export default {
    props: ['user'],
    components: {
        'create-timezone': createTimezone,
        updateEmail,
        updatePassword
    },
    data() {
        return {
            userTimezone: '',
            name: '',
        }
    },
    created () {
        this.$validator.localize('en', customMessages)

        this.$store.commit('SET_USER', this.user)
        
        this.name = this.$store.state.Profile.User.name

        
        if (this.$store.state.Profile.User.profile != null && this.$store.state.Profile.User.profile.hasOwnProperty('timezone')) {
            this.userTimezone = this.$store.state.Profile.User.profile.timezone
        }

    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing in Email section.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.submit()

            }).catch((e) => {
                console.log(e)
            });
        },
        submit () {
            axios.post(`/profile`, {
                name: this.name,
                timezone: this.userTimezone,
            }).then(res => {
                this.$swal({
                    type: 'success',
                    title: 'Good job!',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Oopps!',
                    text: err.response.data.error,
                    showConfirmButton: false,
                    timer: 1500
                })
            })
        }
    }
}
</script>



