<template>
    <div>
        <label for="timezone">Timezone</label>

        <select
            class="form-control" 
            :class="{'border-danger' : errors.first('Timezone')}"
            id="timezone" 
            type="text" 
            v-model="timezonePick"
            
            name="Timezone"
        >
            <option value="" disabled>Choose your Timezone</option>
            <option 
                v-for="(timezone, index) in timezones"
                :key="index"
                :value="timezone"
                >{{timezone.Name}}</option>
        </select>
       
    </div>
</template>
<script>

export default {
    props: ['timezone'],
    mounted() {
        $('#timezone').find('option[value="' + this.timezonePick + '"]').prop('selected', true);
        this.timezonePick = this.timezone
    },
    watch: {
        timezonePick: function (value) {
            this.$emit('input', value)
        }
    },
    data: () => ({
        timezonePick: '',
        timezones: [
            {Name: '(UTC-11:00) Midway Island', Value: 'Pacific/Midway'},
            {Name:  '(UTC-11:00) Samoa', Value: 'Pacific/Samoa'},
            {Name:  '(UTC-10:00) Hawaii', Value: 'Pacific/Honolulu'},
            {Name:  '(UTC-09:00) Alaska', Value: 'US/Alaska'},
            {Name:  '(UTC-08:00) Pacific Time (US & Canada)', Value: 'America/Los_Angeles'},
            {Name:  '(UTC-08:00) Tijuana', Value: 'America/Tijuana'},
            {Name:  '(UTC-07:00) Arizona', Value: 'US/Arizona'},
            {Name:  '(UTC-07:00) Chihuahua', Value: 'America/Chihuahua'},
            {Name:  '(UTC-07:00) La Paz', Value: 'America/Chihuahua'},
            {Name:  '(UTC-07:00) Mazatlan', Value: 'America/Mazatlan'},
            {Name:  '(UTC-07:00) Mountain Time (US & Canada)', Value: 'US/Mountain'},
            {Name:  '(UTC-06:00) Central America', Value: 'America/Managua'},
            {Name:  '(UTC-06:00) Central Time (US & Canada)', Value: 'US/Central'},
            {Name:  '(UTC-06:00) Guadalajara', Value: 'America/Mexico_City'},
            {Name:  '(UTC-06:00) Mexico City', Value: 'America/Mexico_City'},
            {Name:  '(UTC-06:00) Monterrey', Value: 'America/Monterrey'},
            {Name:  '(UTC-06:00) Saskatchewan', Value: 'Canada/Saskatchewan'},
            {Name:  '(UTC-05:00) Bogota', Value: 'America/Bogota'},
            {Name:  '(UTC-05:00) Eastern Time (US & Canada)', Value: 'US/Eastern'},
            {Name:  '(UTC-05:00) Indiana (East)', Value: 'US/East-Indiana'},
            {Name:  '(UTC-05:00) Lima', Value: 'America/Lima'},
            {Name:  '(UTC-05:00) Quito', Value: 'America/Bogota'},
            {Name:  '(UTC-04:00) Atlantic Time (Canada)', Value: 'Canada/Atlantic'},
            {Name:  '(UTC-04:30) Caracas', Value: 'America/Caracas'},
            {Name:  '(UTC-04:00) La Paz', Value: 'America/La_Paz'},
            {Name:  '(UTC-04:00) Santiago', Value: 'America/Santiago'},
            {Name:  '(UTC-03:30) Newfoundland', Value: 'Canada/Newfoundland'},
            {Name:  '(UTC-03:00) Brasilia', Value: 'America/Sao_Paulo'},
            {Name:  '(UTC-03:00) Buenos Aires', Value: 'America/Argentina/Buenos_Aires'},
            {Name:  '(UTC-03:00) Georgetown', Value: 'America/Argentina/Buenos_Aires'},
            {Name:  '(UTC-03:00) Greenland', Value: 'America/Godthab'},
            {Name:  '(UTC-02:00) Mid-Atlantic', Value: 'America/Noronha'},
            {Name:  '(UTC-01:00) Azores', Value: 'Atlantic/Azores'},
            {Name:  '(UTC-01:00) Cape Verde Is.', Value: 'Atlantic/Cape_Verde'},
            {Name:  '(UTC+00:00) Casablanca', Value: 'Africa/Casablanca'},
            {Name:  '(UTC+00:00) Edinburgh', Value: 'Europe/London'},
            {Name:  '(UTC+00:00) Greenwich Mean Time : Dublin', Value: 'Etc/Greenwich'},
            {Name:  '(UTC+00:00) Lisbon', Value: 'Europe/Lisbon'},
            {Name:  '(UTC+00:00) London', Value: 'Europe/London'},
            {Name:  '(UTC+00:00) Monrovia', Value: 'Africa/Monrovia'},
            {Name:  '(UTC+00:00) UTC', Value: 'UTC'},
            {Name:  '(UTC+01:00) Amsterdam', Value: 'Europe/Amsterdam'},
            {Name:  '(UTC+01:00) Belgrade', Value: 'Europe/Belgrade'},
            {Name:  '(UTC+01:00) Berlin', Value: 'Europe/Berlin'},
            {Name:  '(UTC+01:00) Bern', Value: 'Europe/Berlin'},
            {Name:  '(UTC+01:00) Bratislava', Value: 'Europe/Bratislava'},
            {Name:  '(UTC+01:00) Brussels', Value: 'Europe/Brussels'},
            {Name:  '(UTC+01:00) Budapest', Value: 'Europe/Budapest'},
            {Name:  '(UTC+01:00) Copenhagen', Value: 'Europe/Copenhagen'},
            {Name:  '(UTC+01:00) Ljubljana', Value: 'Europe/Ljubljana'},
            {Name:  '(UTC+01:00) Madrid', Value: 'Europe/Madrid'},
            {Name:  '(UTC+01:00) Paris', Value: 'Europe/Paris'},
            {Name:  '(UTC+01:00) Prague', Value: 'Europe/Prague'},
            {Name:  '(UTC+01:00) Rome', Value: 'Europe/Rome'},
            {Name:  '(UTC+01:00) Sarajevo', Value: 'Europe/Sarajevo'},
            {Name:  '(UTC+01:00) Skopje', Value: 'Europe/Skopje'},
            {Name:  '(UTC+01:00) Stockholm', Value: 'Europe/Stockholm'},
            {Name:  '(UTC+01:00) Vienna', Value: 'Europe/Vienna'},
            {Name:  '(UTC+01:00) Warsaw', Value: 'Europe/Warsaw'},
            {Name:  '(UTC+01:00) West Central Africa', Value: 'Africa/Lagos'},
            {Name:  '(UTC+01:00) Zagreb', Value: 'Europe/Zagreb'},
            {Name:  '(UTC+02:00) Athens', Value: 'Europe/Athens'},
            {Name:  '(UTC+02:00) Bucharest', Value: 'Europe/Bucharest'},
            {Name:  '(UTC+02:00) Cairo', Value: 'Africa/Cairo'},
            {Name:  '(UTC+02:00) Harare', Value: 'Africa/Harare'},
            {Name:  '(UTC+02:00) Helsinki', Value: 'Europe/Helsinki'},
            {Name:  '(UTC+02:00) Istanbul', Value: 'Europe/Istanbul'},
            {Name:  '(UTC+02:00) Jerusalem', Value: 'Asia/Jerusalem'},
            {Name:  '(UTC+02:00) Kyiv', Value: 'Europe/Helsinki'},
            {Name:  '(UTC+02:00) Pretoria', Value: 'Africa/Johannesburg'},
            {Name:  '(UTC+02:00) Riga', Value: 'Europe/Riga'},
            {Name:  '(UTC+02:00) Sofia', Value: 'Europe/Sofia'},
            {Name:  '(UTC+02:00) Tallinn', Value: 'Europe/Tallinn'},
            {Name:  '(UTC+02:00) Vilnius', Value: 'Europe/Vilnius'},
            {Name:  '(UTC+03:00) Baghdad', Value: 'Asia/Baghdad'},
            {Name:  '(UTC+03:00) Kuwait', Value: 'Asia/Kuwait'},
            {Name:  '(UTC+03:00) Minsk', Value: 'Europe/Minsk'},
            {Name:  '(UTC+03:00) Nairobi', Value: 'Africa/Nairobi'},
            {Name:  '(UTC+03:00) Riyadh', Value: 'Asia/Riyadh'},
            {Name:  '(UTC+03:00) Volgograd', Value: 'Europe/Volgograd'},
            {Name:  '(UTC+03:30) Tehran', Value: 'Asia/Tehran'},
            {Name:  '(UTC+04:00) Abu Dhabi', Value: 'Asia/Muscat'},
            {Name:  '(UTC+04:00) Baku', Value: 'Asia/Baku'},
            {Name:  '(UTC+04:00) Moscow', Value: 'Europe/Moscow'},
            {Name:  '(UTC+04:00) Muscat', Value: 'Asia/Muscat'},
            {Name:  '(UTC+04:00) St. Petersburg', Value: 'Europe/Moscow'},
            {Name:  '(UTC+04:00) Tbilisi', Value: 'Asia/Tbilisi'},
            {Name:  '(UTC+04:00) Yerevan', Value: 'Asia/Yerevan'},
            {Name:  '(UTC+04:30) Kabul', Value: 'Asia/Kabul'},
            {Name:  '(UTC+05:00) Islamabad', Value: 'Asia/Karachi'},
            {Name:  '(UTC+05:00) Karachi', Value: 'Asia/Karachi'},
            {Name:  '(UTC+05:00) Tashkent', Value: 'Asia/Tashkent'},
            {Name:  '(UTC+05:30) Chennai', Value: 'Asia/Calcutta'},
            {Name:  '(UTC+05:30) Kolkata', Value: 'Asia/Kolkata'},
            {Name:  '(UTC+05:30) Mumbai', Value: 'Asia/Calcutta'},
            {Name:  '(UTC+05:30) New Delhi', Value: 'Asia/Calcutta'},
            {Name:  '(UTC+05:30) Sri Jayawardenepura', Value: 'Asia/Calcutta'},
            {Name:  '(UTC+05:45) Kathmandu', Value: 'Asia/Katmandu'},
            {Name:  '(UTC+06:00) Almaty', Value: 'Asia/Almaty'},
            {Name:  '(UTC+06:00) Astana', Value: 'Asia/Dhaka'},
            {Name:  '(UTC+06:00) Dhaka', Value: 'Asia/Dhaka'},
            {Name:  '(UTC+06:00) Ekaterinburg', Value: 'Asia/Yekaterinburg'},
            {Name:  '(UTC+06:30) Rangoon', Value: 'Asia/Rangoon'},
            {Name:  '(UTC+07:00) Bangkok', Value: 'Asia/Bangkok'},
            {Name:  '(UTC+07:00) Hanoi', Value: 'Asia/Bangkok'},
            {Name:  '(UTC+07:00) Jakarta', Value: 'Asia/Jakarta'},
            {Name:  '(UTC+07:00) Novosibirsk', Value: 'Asia/Novosibirsk'},
            {Name:  '(UTC+08:00) Beijing', Value: 'Asia/Hong_Kong'},
            {Name:  '(UTC+08:00) Chongqing', Value: 'Asia/Chongqing'},
            {Name:  '(UTC+08:00) Hong Kong', Value: 'Asia/Hong_Kong'},
            {Name:  '(UTC+08:00) Krasnoyarsk', Value: 'Asia/Krasnoyarsk'},
            {Name:  '(UTC+08:00) Kuala Lumpur', Value: 'Asia/Kuala_Lumpur'},
            {Name:  '(UTC+08:00) Perth', Value: 'Australia/Perth'},
            {Name:  '(UTC+08:00) Singapore', Value: 'Asia/Singapore'},
            {Name:  '(UTC+08:00) Taipei', Value: 'Asia/Taipei'},
            {Name:  '(UTC+08:00) Ulaan Bataar', Value: 'Asia/Ulan_Bator'},
            {Name:  '(UTC+08:00) Urumqi', Value: 'Asia/Urumqi'},
            {Name:  '(UTC+09:00) Irkutsk', Value: 'Asia/Irkutsk'},
            {Name:  '(UTC+09:00) Osaka', Value: 'Asia/Tokyo'},
            {Name:  '(UTC+09:00) Sapporo', Value: 'Asia/Tokyo'},
            {Name:  '(UTC+09:00) Seoul', Value: 'Asia/Seoul'},
            {Name:  '(UTC+09:00) Tokyo', Value: 'Asia/Tokyo'},
            {Name:  '(UTC+09:30) Adelaide', Value: 'Australia/Adelaide'},
            {Name:  '(UTC+09:30) Darwin', Value: 'Australia/Darwin'},
            {Name:  '(UTC+10:00) Brisbane', Value: 'Australia/Brisbane'},
            {Name:  '(UTC+10:00) Canberra', Value: 'Australia/Canberra'},
            {Name:  '(UTC+10:00) Guam', Value: 'Pacific/Guam'},
            {Name:  '(UTC+10:00) Hobart', Value: 'Australia/Hobart'},
            {Name:  '(UTC+10:00) Melbourne', Value: 'Australia/Melbourne'},
            {Name:  '(UTC+10:00) Port Moresby', Value: 'Pacific/Port_Moresby'},
            {Name:  '(UTC+10:00) Sydney', Value: 'Australia/Sydney'},
            {Name:  '(UTC+10:00) Yakutsk', Value: 'Asia/Yakutsk'},
            {Name:  '(UTC+11:00) Vladivostok', Value: 'Asia/Vladivostok'},
            {Name:  '(UTC+12:00) Auckland', Value: 'Pacific/Auckland'},
            {Name:  '(UTC+12:00) Fiji', Value: 'Pacific/Fiji'},
            {Name:  '(UTC+12:00) International Date Line West', Value: 'Pacific/Kwajalein'},
            {Name:  '(UTC+12:00) Kamchatka', Value: 'Asia/Kamchatka'},
            {Name:  '(UTC+12:00) Magadan', Value: 'Asia/Magadan'},
            {Name:  '(UTC+12:00) Marshall Is.', Value: 'Pacific/Fiji'},
            {Name:  '(UTC+12:00) New Caledonia', Value: 'Asia/Magadan'},
            {Name:  '(UTC+12:00) Solomon Is.', Value: 'Asia/Magadan'},
            {Name:  '(UTC+12:00) Wellington', Value: 'Pacific/Auckland'},
            {Name:  '(UTC+13:00) Nuku\'alofa', Value: 'Pacific/Tongatapu'}
        ]
    }),
    methods: {
        choiceTimezone () {
            if (this.timezone == '' || this.timezone == null) {
                return 'Choose your Timezone'
            }

            return this.timezone
        }
    }
}
</script>
