<template>
    <div class="my-3">
        <div class="card">
            <div class="card-body">

                
                <div class="form-group">
                    <label for="name">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="oldPassword">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" 
                                    height="20" 
                                    viewBox="0 0 24 24"
                                    :class="{'fill' : viewOldPassword}"
                                    @click="viewOldPassword = !viewOldPassword"
                                    >
                                    <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/>
                                </svg>
                            </span>
                        </div>
                        <input 
                            v-validate="'required'"
                            name="oldPassword"
                            :type="changeType(viewOldPassword)" 
                            class="form-control" 
                            :class="{'border-danger' : errors.first('oldPassword')}"
                            id="oldPassword" 
                            placeholder="Enter Old Password"
                            v-model="oldPassword"
                            aria-describedby="oldPassword">
                    </div>
                    <span class="text-danger">{{ errors.first('oldPassword') }}</span>
                </div>

                <div class="form-group">
                    <label for="name">New Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="newPassword">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" 
                                    height="20" 
                                    viewBox="0 0 24 24"
                                    :class="{'fill' : viewNewPassword}"
                                    @click="viewNewPassword = !viewNewPassword"
                                    >
                                    <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/>
                                </svg>
                            </span>
                        </div>
                        <input 
                            v-validate="'required'"
                            name="newPassword"
                            :type="changeType(viewNewPassword)" 
                            class="form-control" 
                            :class="{'border-danger' : errors.first('newPassword')}"
                            id="newPassword" 
                            placeholder="Enter New Password"
                            v-model="newPassword"
                            ref="newPassword"
                            aria-describedby="newPassword">
                    </div>
                    <span class="text-danger">{{ errors.first('newPassword') }}</span>
                </div>


                <div class="form-group">
                    <label for="name">Repeat Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="repeatPassword">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" 
                                    height="20" 
                                    viewBox="0 0 24 24"
                                    :class="{'fill' : viewRepeatPassword}"
                                    @click="viewRepeatPassword = !viewRepeatPassword"
                                    >
                                    <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/>
                                </svg>
                            </span>
                        </div>
                        <input 
                            v-validate="'required|confirmed:newPassword'"
                            name="repeatPassword"
                            :type="changeType(viewRepeatPassword)"  
                            class="form-control" 
                            :class="{'border-danger' : errors.first('repeatPassword')}"
                            id="repeatPassword" 
                            placeholder="Enter Repeat Password"
                            v-model="repeatPassword"
                            aria-describedby="repeatPassword">
                    </div>
                    <span class="text-danger">{{ errors.first('repeatPassword') }}</span>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" @click="savePassword">Submit</button>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
const customMessages = {
    custom: {
        'oldPassword': {
            required: 'Old Password is required',
        },
        'newPassword': {
            required: 'New Password is required',
        },
        'repeatPassword': {
            required: 'Please repeat your new Password',
            confirmed: 'New Password not match.'
        },
    }
}

export default {
    data() {
        return {
            'oldPassword': '',
            'viewOldPassword': false,
            'newPassword': '',
            'viewNewPassword': false,
            'repeatPassword': '',
            'viewRepeatPassword': false,
        }
    },
    mounted () {
        this.$validator.localize('en', customMessages);
    },
    methods: {

        changeType (value) {
            if (value) {
                return 'text'
            }

            return 'password'
        },

        savePassword () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing in Password section.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.updatePasswordPost()

            }).catch((e) => {
                console.log(e)
            });
        },

        updatePasswordPost () {
            axios.post('/profile/update-password', {
                new_password: this.newPassword,
                old_password: this.oldPassword
            }).then( res => {
                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.oldPassword = ''
                this.newPassword = ''
                this.repeatPassword = ''

                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>

<style lang="scss">
svg {
    cursor: pointer;
    &.fill {
        fill: #ccc;
    }
}

</style>
