<template>
    <div class="my-3 ">
        <div class="card">
            <div class="card-body">

                <div class="form-group">
                    <label for="name">Old Email</label>
                    <input 
                        v-validate="'required|email'"
                        name="oldEmail"
                        type="text" 
                        class="form-control" 
                        :class="{'border-danger' : errors.first('oldEmail')}"
                        id="oldEmail" 
                        placeholder="Enter Old Email"
                        v-model="oldEmail"
                        >
                    <span class="text-danger">{{ errors.first('oldEmail') }}</span>
                </div>

                <div class="form-group">
                    <label for="name">New Email</label>
                    <input 
                        v-validate="'required|email'"
                        name="newEmail"
                        type="text" 
                        class="form-control" 
                        :class="{'border-danger' : errors.first('newEmail')}"
                        id="newEmail" 
                        placeholder="Enter New Email"
                        v-model="newEmail"
                        ref="newEmail"
                        >
                    <span class="text-danger">{{ errors.first('newEmail') }}</span>
                </div>


                <div class="form-group">
                    <label for="name">Repeat Email</label>
                    <input 
                        v-validate="'required|email|confirmed:newEmail'"
                        name="repeatEmail"
                        type="text" 
                        class="form-control" 
                        :class="{'border-danger' : errors.first('repeatEmail')}"
                        id="repeatEmail" 
                        placeholder="Enter Repeat Email"
                        v-model="repeatEmail"
                        >
                    <span class="text-danger">{{ errors.first('repeatEmail') }}</span>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" @click="validateField">Submit</button>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
const customMessages = {
    custom: {
        'oldEmail': {
            required: 'Old Email is required',
            email: 'Valid Email is required'
        },
        'newEmail': {
            required: 'New Email is required',
            email: 'Valid Email is required'
        },
        'repeatEmail': {
            required: 'Please repeat your new Email',
            email: 'Valid Email is required',
            confirmed: 'New Email not match.'
        },
    }
}

export default {
    data() {
        return {
            'oldEmail': '',
            'newEmail': '',
            'repeatEmail': '',
        }
    },
    mounted () {
        this.$validator.localize('en', customMessages)
    },
    methods: {
        validateField () {
            this.$validator.validateAll().then((result) => {

                if(!result){

                    this.$swal({
                        type: 'error',
                        title: 'Ooopps!',
                        text: 'Some required fields are missing in Email section.',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    return;
                }

                this.updateEmailPost()

            }).catch((e) => {
                console.log(e)
            });
        },

        updateEmailPost () {
            axios.post('/profile/update-email', {
                new_email: this.newEmail,
                old_email: this.oldEmail
            }).then( res => {
                this.$swal({
                    type: 'success',
                    title: 'Congratulations',
                    text: res.data.success,
                    showConfirmButton: false,
                    timer: 1500
                })

                this.oldEmail = ''
                this.newEmail = ''
                this.repeatEmail = ''

                this.$validator.reset()
            }).catch( err => {
                this.$swal({
                    type: 'error',
                    title: 'Ooopps!',
                    html: err.response.data.error,
                    showConfirmButton: false,
                    timer: 2000
                })
            })
        }
    }
}
</script>